/* Write your CSS here */
.app-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 100px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 30px;
}
.app-image {
  margin-top: 30px;
  height: 60px;
  width: 50px;
}
.name {
  font-family: 'Bree Serif';
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 18px;
}
